/*general*/
*{
margin: 0 auto;
padding: 0 auto;
}
/*header*/
.contenedor-navegador{
width: 100%;
height:15%;
background-color:#FAFAD2;
opacity: 0.7;
position: fixed;
}
.material-icons{
color:pink;
}
li:last-child{
display:none;
}

nav{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.material-icons{
display:none;
}

a{
text-decoration: none;
font-size:2em;
padding:10%;
font-family: 'Sacramento', cursive;
color:#EAB267;
}

li{
display:flex;
list-style: none;
margin:1%;
}

a:hover{
color:#D8BFD8;
}
.separador{
padding:4%;
}
/*seccion imagen inicial*/

.contenedor-imagen{
width:65%;
height:600px;
background-image: url(../img/conejo.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-content:center;
}
.contenedor-imagen:first-child{
padding-top:3%;
font-size:80%;
}


/*seccion 2: imagenes y texto.*/
.contenedor-sec-2{
background: #FAFAD2;
display: flex;
width: 100%;
flex-direction: column;
}
.subcontenedor{
display: flex;
width: 100%;
flex-direction: column;
justify-content:space-between;

}
.contenedor-sec-2 h1{
text-align: center;
padding: 1%;
}

.contenedor-imgTex{
display: flex;
width:100%;
height: 100%;
align-items:center;

}
.imagencitas{
width: 20%;
height: 10%;
border-radius:15em;

}
.contenedor-imgTex p{
width: 30%;
text-align: justify;
margin-top:2%;
}

/*seccion video */
.seccion-video{
background-color:#D8BFD8;
padding: 10%;
opacity: 0.7;
}
.videito{
display: flex;
justify-content: center;
}
.seccion-video h2{
display: flex;
justify-content:center;

}
/*seccion formulario*/
.contenedor-form{
width: 100%;

}
.contenedor-form h1{
  text-align: center;
  padding: 2%;


}
form{
width:30%
}
.formulario{
display: flex;
display: flex;
flex-wrap: wrap;
}
.entradas{
width:100%;
margin:5%;
border:
}
button{
font-family: 'Sacramento', cursive;
color:#EAB267;
font-size:2em;
margin-left:40%;
}
#familia{
  display: none;
}

/*seccion footer*/
footer{
display: flex;
justify-content: center;
width: 100%;
height:15%;
background-color:#DDFFDD;
font-size:2em;
padding:2%;
font-family: 'Sacramento', cursive;
color:#EAB267;
}

/*clases en comun*/
.titulos{
font-family: 'Sacramento', cursive;
color:#EAB267;
font-size:3em;
}

.textos{
font-family: 'Josefin Slab', serif;
color:#3E8D8D;
font-size:100%;

}
.row{
flex-direction: row;
}

      /*mobile*/
@media (max-width:500px){
/*navegador y encabezado*/
li{
display:none;
}

.contenedor-sec-2{
display:none;
}
li:last-child{
display: flex;

}
nav{
display: flex;
width: 90%;
justify-content: flex-end;
}
header{
height:30px;
}
.seccion-video{
background-color: #BBFFBB;
}
.contenedor-form{
background-color: #FFCCFF;
}
button{
margin-left:12%;
}
.titulos{
font-size:150%;
}

#familia{
  border-radius:70%;
  width:20%;
  display: flex;
}
}
